<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{.Title}} - GOLANG BBS</title>
  <style>
  body {
  }
  h1#title {
    display: block;
  }
  span.name {
    font-weight:bold;
  }
  span.date {
    font-style: italic;
    margin-left: 1em;
  }
  p.comment {
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1.5em;
  }
  </style>
</head>
<body>
<h1 id="title">{{.Title}}</h1>
<div>

{{range .Comments}}
  <div>
    <span class="name">名前：{{ .Name }} </span>
    <span class="date"> {{ .Date }}</span>
    <p class="comment">{{ .Cont | crlf2br }}</p>
  </div>
{{ else }}
  <div>
    <p>コメントはまだありません</p>
  </div>
{{ end }}

<h2>コメントする</h2>
<form action="/comment" method="POST">
  <div>
    名前<br />
    <input type="text" size="20" name="name"><br />
    コメント<br />
    <textarea rows="10" cols="60" name="comment"></textarea><br />
    <input type="hidden" value={{.Id}} name="id">
    <input type="submit">
  </div>
<p><a href="/">戻る</a></p>
</body>
</html>
